body {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/1200px-Manchester_United_FC_crest.svg.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.grid {
display: grid;
grid-template-columns:  1fr, 1fr, 1fr;
grid-template-rows:  1fr, 1fr, 1fr;
height: 100vh;
width: 100vw;
  
}
  .Box1{
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Box1:hover{
    opacity: 0;
  }
  .Box2{
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Box2:hover{
    opacity: 0;
  }
  .Box3 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Box3:hover{
    opacity: 0;
  }
  .Box4 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Box4:hover{
    opacity: 0;
  }
  .Box5 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Box5:hover{
    opacity: 0;
  }
  .Box6 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Box6:hover{
    opacity: 0;
  }
  .Box7 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .Box7:hover{
    opacity: 0;
  }
  .Box8 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .Box8:hover{
    opacity: 0;
  }
  .Box9 {
    background-color: gray;
    border-radius: 50%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .Box9:hover{
    opacity: 0;
  }
white_check_mark
eyes
raised_hands






